/* Theme icons */
.theme-mode {
    margin-right: 5px;
    cursor: pointer;
    width: 20px;
    height: 20px;
}

.dark .sun {
    display: none;
}

.dark .moon {
    display: inline-block !important;
}

.sun {
    display: inline-block;
}

.moon {
    display: none;
}

/* Dark theme */
.dark body, .dark footer, .dark .footer {
    background-color: #23272A;
    background: #23272A;
    color: #fff;
}

.dark input[type=email], .dark input[type=number], .dark input[type=password],
    .dark input[type=search], .dark input[type=tel], .dark input[type=text],
.dark input[type=url], .dark select, .dark textarea {
    background-color: #2C2F33;
    color: #99AAB5;
     border: 1px solid #23272A;
}

.dark th, .dark td {
    border-bottom: 1px solid #2C2F33;
}

.dark .jsondiffpatch-added .jsondiffpatch-property-name,
.dark .jsondiffpatch-added .jsondiffpatch-value pre,
.dark .jsondiffpatch-modified .jsondiffpatch-right-value pre,
.dark .jsondiffpatch-textdiff-added,
.dark .jsondiffpatch-deleted .jsondiffpatch-property-name,
.dark .jsondiffpatch-deleted pre,
.dark .jsondiffpatch-modified .jsondiffpatch-left-value pre,
.dark .jsondiffpatch-textdiff-deleted {
    color: #222;
}
