#builds-selection {
    margin: 1.5rem 0;
}

#builds-selection div {
    display: inline-block;
    margin-bottom: 1rem;
}

#builds-selection select {
    margin: 0 0.5rem;
}

/* Disable text selection in jsondiff. */
.jsondiffpatch-delta {
    -webkit-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -ms-user-select: none;
}

/* Hide specific unchanged objects. */
.jsondiffpatch-delta > ul > li.jsondiffpatch-unchanged,
.jsondiffpatch-delta > ul > li > ul > li.jsondiffpatch-unchanged,
.jsondiffpatch-delta > ul > li > ul > li > ul > li.jsondiffpatch-unchanged,
.jsondiffpatch-delta > ul > li > ul > li > ul > li > ul > li.jsondiffpatch-unchanged {
    display: none;
    visibility: hidden;
}

/* Hide "_id" fields if they are unchanged. */
.jsondiffpatch-unchanged[data-key="_id"] {
    display: none;
    visibility: hidden;
}

/* Display identifiers to get some context. */
.jsondiffpatch-unchanged[data-key="enemyName"],
.jsondiffpatch-unchanged[data-key="modName"],
.jsondiffpatch-unchanged[data-key="blueprintName"],
.jsondiffpatch-unchanged[data-key="itemName"],
.jsondiffpatch-unchanged[data-key="objectiveName"],
.jsondiffpatch-unchanged[data-key="bountyLevel"],
.jsondiffpatch-unchanged[data-key="keyName"],
.jsondiffpatch-unchanged[data-key="tier"],
.jsondiffpatch-unchanged[data-key="relicName"],
.jsondiffpatch-unchanged[data-key="state"] {
    display: block !important;
    visibility: visible !important;
}

/* Fix text size in subnodes. */
.jsondiffpatch-delta * {
    font-family: 'Bitstream Vera Sans Mono', 'DejaVu Sans Mono', Monaco, Courier, monospace !important;
    font-size: 12px !important;
}

/* Display unchanged nodes using the normal text color. */
.jsondiffpatch-unchanged,
.jsondiffpatch-movedestination {
  color: inherit;
}

/* Fix excessive margin in subnodes. */
.jsondiffpatch-node-type-object > li {
    margin-bottom: 0 !important;
}

/* Allow objects and arrays to be closed. */
.jsondiffpatch-child-node-type-array > .jsondiffpatch-property-name,
.jsondiffpatch-child-node-type-object > .jsondiffpatch-property-name {
    cursor: pointer;
}

.jsondiffpatch-child-node-type-array.jsondiffpatch-child-node-closed > .jsondiffpatch-property-name:after {
    content: ': [ \25bc\00a0';
}

.jsondiffpatch-child-node-type-array > .jsondiffpatch-property-name:after {
    content: ': [ \25b2\00a0';
}

.jsondiffpatch-child-node-type-object.jsondiffpatch-child-node-closed > .jsondiffpatch-property-name:after {
    content: ': { \25bc\00a0';
}

.jsondiffpatch-child-node-type-object > .jsondiffpatch-property-name:after {
    content: ': { \25b2\00a0';
}

.jsondiffpatch-child-node-type-array.jsondiffpatch-child-node-closed > .jsondiffpatch-property-name,
.jsondiffpatch-child-node-type-object.jsondiffpatch-child-node-closed > .jsondiffpatch-property-name {
    padding-right: 0;
}

/* Allow big change blocks (pre starting with "[" or "{") to be closed. */
.jsondiffpatch-value-toggleable {
    cursor: pointer;
}

.jsondiffpatch-value-closed {
    height: 19px;
    overflow: hidden;
}

/* Don't display commas on the last elements. */
.jsondiffpatch-child-node-type-array:last-child:after {
    content: ']';
}

.jsondiffpatch-child-node-type-object:last-child:after {
    content: '}';
}
 .jsondiffpatch-delta,.jsondiffpatch-delta pre{
    font-family:'Bitstream Vera Sans Mono','DejaVu Sans Mono',Monaco,Courier,monospace;
    font-size:12px;
    display:inline-block;
    margin:0
}
.jsondiffpatch-delta{
    padding:0 0 0 12px
}
.jsondiffpatch-delta pre{
    padding:0
}
.jsondiffpatch-delta ul,ul.jsondiffpatch-delta{
    list-style-type:none;
    padding:0 0 0 20px;
    margin:0
}
.jsondiffpatch-added .jsondiffpatch-property-name,.jsondiffpatch-added .jsondiffpatch-value pre,.jsondiffpatch-modified .jsondiffpatch-right-value pre,.jsondiffpatch-textdiff-added{
    background:#bfb
}
.jsondiffpatch-deleted .jsondiffpatch-property-name,.jsondiffpatch-deleted pre,.jsondiffpatch-modified .jsondiffpatch-left-value pre,.jsondiffpatch-textdiff-deleted{
    background:#fbb;
    text-decoration:line-through
}
.jsondiffpatch-movedestination,.jsondiffpatch-unchanged{
    color:gray
}
.jsondiffpatch-movedestination>.jsondiffpatch-value,.jsondiffpatch-unchanged{
    transition:all .5s;
    -webkit-transition:all .5s;
    overflow-y:hidden
}
.jsondiffpatch-unchanged-showing .jsondiffpatch-movedestination>.jsondiffpatch-value,.jsondiffpatch-unchanged-showing .jsondiffpatch-unchanged{
    max-height:100px
}
.jsondiffpatch-unchanged-hidden .jsondiffpatch-movedestination>.jsondiffpatch-value,.jsondiffpatch-unchanged-hidden .jsondiffpatch-unchanged{
    max-height:0
}
.jsondiffpatch-unchanged-hidden .jsondiffpatch-movedestination>.jsondiffpatch-value,.jsondiffpatch-unchanged-hiding .jsondiffpatch-movedestination>.jsondiffpatch-value{
    display:block
}
.jsondiffpatch-unchanged-visible .jsondiffpatch-movedestination>.jsondiffpatch-value,.jsondiffpatch-unchanged-visible .jsondiffpatch-unchanged{
    max-height:100px
}
.jsondiffpatch-unchanged-hiding .jsondiffpatch-movedestination>.jsondiffpatch-value,.jsondiffpatch-unchanged-hiding .jsondiffpatch-unchanged{
    max-height:0
}
.jsondiffpatch-unchanged-hiding .jsondiffpatch-arrow,.jsondiffpatch-unchanged-showing .jsondiffpatch-arrow{
    display:none
}
.jsondiffpatch-modified .jsondiffpatch-value,.jsondiffpatch-value{
    display:inline-block
}
.jsondiffpatch-property-name{
    display:inline-block;
    padding-right:5px;
    vertical-align:top
}
.jsondiffpatch-property-name:after{
    content:': '
}
.jsondiffpatch-child-node-type-array>.jsondiffpatch-property-name:after{
    content:': ['
}
.jsondiffpatch-child-node-type-array:after{
    content:'],'
}
div.jsondiffpatch-child-node-type-array:before{
    content:'['
}
div.jsondiffpatch-child-node-type-array:after{
    content:']'
}
.jsondiffpatch-child-node-type-object>.jsondiffpatch-property-name:after{
    content:': {'
}
.jsondiffpatch-child-node-type-object:after{
    content:'},'
}
div.jsondiffpatch-child-node-type-object:before{
    content:'{'
}
div.jsondiffpatch-child-node-type-object:after{
    content:'}'
}
.jsondiffpatch-value pre:after{
    content:','
}
.jsondiffpatch-modified>.jsondiffpatch-left-value pre:after,li:last-child>.jsondiffpatch-value pre:after{
    content:''
}
.jsondiffpatch-modified .jsondiffpatch-right-value{
    margin-left:5px
}
.jsondiffpatch-moved .jsondiffpatch-value{
    display:none
}
.jsondiffpatch-moved .jsondiffpatch-moved-destination{
    display:inline-block;
    background:#ffb;
    color:#888
}
.jsondiffpatch-moved .jsondiffpatch-moved-destination:before{
    content:' => '
}
ul.jsondiffpatch-textdiff{
    padding:0;
}
.jsondiffpatch-textdiff-location{
    color:#bbb;
    display:inline-block;
    min-width:60px
}
.jsondiffpatch-textdiff-line{
    display:inline-block
}
.jsondiffpatch-textdiff-line-number:after{
    content:','
}
.jsondiffpatch-error{
    background:red;
    color:#fff;
    font-weight:700
}
